.navbar {
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid rgb(240, 237, 237);
}

/* .shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
} */

/* overwrited the style of bootstrap */
.navbar {
  /* position: relative; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  /* align-items: start !important; */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.nav-link {
  color: rgb(41, 40, 40) !important;
}
